/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-primary-400: #e64f64;
  --clr-accent-400: #b0d5c0;
  --clr-accent-700: #47b2bd;
  --clr-accent-800: #217071;
  --clr-secondary-400: #fcb2a9;
  --clr-secondary-700: #e76ba7;
  --clr-neutral-200: #fffff8;
  --clr-neutral-400: #c2c2c0;
  --clr-neutral-700: #989ca0;
  --clr-neutral-800: #192331;
}

body {
  /* --body-background: linear-gradient(
    45deg,
    var(--clr-accent-400),
    var(--clr-accent-700)
  ); */

  --body-background: white;

  background: var(--body-background);
}

.container {
  width: min(60rem, 90%);
  margin-inline: auto;
}

.site-title,
.sub-title {
  font-family: 'Great Vibes', cursive;
  font-size: clamp(1.5rem, 2vw + 0.5rem, 4rem);
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  backdrop-filter: sepia(15%);
}

.diagonal {
  --skew-angle: -3deg;
  --background-color: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);

  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--background-color);
  transform: skewY(var(--skew-angle));
}

.spikes {
  --spike-width: 50px;
  --spike-height: 10px;
  --spike-color: var(--body-background);

  position: relative;
  background: linear-gradient(
    to right,
    var(--clr-neutral-400),
    var(--clr-neutral-700)
  );
}

.spikes::before {
  content: '';
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: var(--spike-color);
  -webkit-mask-image: url('../assets/triangle.svg');
  -webkit-mask-size: var(--spike-width) var(--spike-height);
  /* -webkit-mask-repeat: repeat-x; */
  mask-image: url('../assets/triangle.svg');
  mask-size: var(--spike-width) var(--spike-height);
  /* mask-repeat: repeat-x; */
}

.spikes::before {
  top: 0;
}

.wavy {
  background: linear-gradient(to right, #00f260, #0575e6);

  --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(50.39px at 50% calc(100% - 68.75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(50.39px at 50% calc(100% + 43.75px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}
