/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-accent-400: #fdf6e2;
  --clr-accent-700: #fefaf1;
}

.container {
  width: min(60rem, 90%);
  margin-inline: auto;
}

.site-title,
.sub-title {
  font-family: 'Great Vibes', cursive;
  font-size: clamp(1.5rem, 2vw + 0.5rem, 4rem);
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  backdrop-filter: sepia(15%);
}

section {
  padding-block: 5rem;
}

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: clamp(1.25rem, 2vw + 0.325rem, 3.5rem);
  letter-spacing: 3px;
  text-align: center;
}

.diagonal {
  --skew-angle: -3deg;
  --background-color: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);

  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--background-color);
  transform: skewY(var(--skew-angle));
}
